problema_1
problema_3
problema_4A
problema_4B1
problema_4B2
problema_5
problema_5A
problema_5B
problema_6



P1_OUTPUT.txt
P3_OUTPUT.txt
P4A_OUTPUT.txt
P4B1_OUTPUT.txt
P4B2_OUTPUT.txt
P5A_OUTPUT.txt
P5B_OUTPUT.txt
P6_OUTPUT.txt



actstr23_1_unlocked.pdf

P6_OUTPUT.txt

problema_4B
