
Folha_1/hello

Folha_1/hello.c

Folha_1/test

Folha_1/test.c

Folha_1/P1_OUTPUT.txt

Folha_1/problema_1

Folha_1/problema_3

Folha_1/P3_OUTPUT.txt

Folha_1/example

Folha_1/*.o

Folha_1/problema_4A

Folha_1/problema_4B1

Folha_1/problema_4B2

Folha_1/problema_5

Folha_1/problema_6

*.txt
